<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>business</title>

  <!--&lt;!&ndash;todo 以后要像个办法把key隐藏起来的同时，区分development和production环境使用不同的key&ndash;&gt;-->
  <!--<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=H1RThA3olmdC13drEkCgDjl4Hpq8z31k"></script>-->
</head>
<body>

<div id="root"></div>

</body>
</html>
